<div class="mt-4">
    <form method="post">
    <div class="mb-3">
        <label for="searchInput" class="form-label">Từ khoá</label>
        <input type="text" name="q" class="form-control" id="searchInput" >
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>
 